.article {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-color)
}

.article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article .img-box {
    height: 20rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.article-content {
    padding: 1rem;
}

.article .title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.article-top, .article-bottom {
    display: flex;
    justify-content: space-between;
}

.article-phase {
    margin-left: 1rem;
}

.open-details {
    background-color: var(--lavender);
    font-size: 1rem;
    font-weight: 500;
}