.article-detail {
    position: relative;
    width: var(--detail-page-width);
    margin: 2rem auto;
}

.detail-title {
    margin: 1rem 0;
}

.detail-info {
    display: inline-block;
    margin-bottom: 1rem;
}

.detail-phase {
    position: absolute;
    right: 0;
}

.image-box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 20rem;
}

.image-box img {
    height: 100%;
}

.detail-body {
    margin: 1rem 0;
}

.detail-updated-at {
    color: #999
}

@media (max-width: 900px) {
    .detail-phase {
        position: relative;
        text-align: right;
    }
    
    .article-detail {
        width: 70%;
    }
}