.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color)
}

.article img {
    max-width: 100%;
}

.article-content {
    padding: 1rem;
}

.article .title {
    font-size: 1.3rem;
    font-weight: 700;
}

.article-top, .article-bottom {
    display: flex;
    justify-content: space-between;
}

.open-details {
    background-color: var(--lavender);
    font-size: 1rem;
    font-weight: 500;
}