.subheader-row {
    width: 100%;
    height: 3rem;
    background-color: var(--light-pink);
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.subheader-row-content {
    width: var(--main-page-width);
    margin: auto;
}

.subheader-row-content > button,
.subheader-row-content > .looks-like-button {
    background-color: var(--hot-pink);
    margin-left: 1rem;
}

.subheader-row-content {
    display: flex;
    width: var(--main-page-width);
    margin: auto;
}

.subheader-row-content:not(.home) > *:first-child {
    margin-right: auto;
}

.display-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    max-width: var(--main-page-width);
    width: var(--main-page-width);
    margin: 2rem auto;
}



@media (max-width: 900px) {
    .subheader-row {
        height: fit-content;
    }
    
    .subheader-row-content {
        width: 100%;
    }
    
    .display-articles {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        width: 70%;
    }

    .subheader-row-content h2 {
        font-size: 1.3rem;
    }

    .subheader-row-content > button,
    .subheader-row-content > .looks-like-button {
        font-size: 0.9rem;
        padding: 0.3rem;
}
}