.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #aaa;
    z-index: 10;
}

.header > h1 {
    margin-right: 5rem;
}

.header > a, .header > .looks-like-link {
    font-size: 1.3rem;
}

.header > *:last-child {
    margin-left: auto;
}

.header > * {
    margin: 0 1rem;
}

.push-down {
    padding-bottom: var(--header-height);
}

@media (max-width: 900px) {
    h1 {
        font-size: 1.4rem;
        margin-right: 0
    }

    .header > a, .header > .looks-like-link {
        font-size: 1rem;
    }

    .header > * {
        margin: 0 0.5rem;
    }
}