.subheader-row-content.home {
    display: flex;
    justify-content: space-around;
}

.subheader-row-content.home > button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.subheader-row-content.home > button:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .subheader-row-content.home > button {
    padding: 0;
    font-size: 1rem;
}
}