.subheader-row {
    width: 100%;
    background-color: var(--light-pink);
    padding: 0.5rem;
}

.home-row-content {
    display: flex;
    justify-content: space-around;
}

.home-row-content > button {
    background-color: transparent;
    border: none;
}

.home-row-content > button:hover {
    text-decoration: underline;
}

.home-row-content, .section-home {
    width: var(--main-page-width);
    margin: auto;
}