.subheader-row {
    width: 100%;
    background-color: var(--light-pink);
    padding: 0.5rem;
}

.home-row-content {
    display: flex;
    justify-content: space-around;
}

.home-row-content > button {
    background-color: transparent;
    border: none;
}

.home-row-content > button:hover {
    text-decoration: underline;
}

.home-row-content, .section-home {
    width: 80%;
    margin: auto;
}

.section-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    max-width: 80%;
}

@media (max-width: 900px) {
    .home-row-content {
        width: 100%;
    }
    
    .section-home {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        width: 70%;
    }
}
